 
 @font-face {
   
   src: url(C:\Users\cssam\website\src\fonts\OR4_Nilachala.TTF) format('truetype');
   font-family: yo;
 }

 *{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  /* font-family: 'Noto Sans Oriya', sans-serif; */
  /* font-family: 'Baloo Bhaina 2', cursive;
  font-family: 'Baloo Bhaina 2', cursive; */
  /* font-family: ('Encode Sans Expanded', sans-serif); */
  /* font-family: yo; */
  font-family: 'Amiri', serif;

} 